section#about {
  padding: 50px;
  background: color #f1eded;
  color: rgb(0, 0, 0);
  text-align: center;
}
#about {
  animation: text-flicker 1s infinite alternate;
}

@keyframes text-flicker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}