header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
    background-color: #000000;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav ul li {
    margin: 0 15px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    text-decoration:solid;
  }
  